#wrapper{
	width:1024px; 
	margin:0 auto;
}

#header h1{
	text-align: center;
}
	nav.navigation {
    display: block;
    margin-bottom: 10px;
}
nav.navigation  ul {
    list-style: none;
    font-size: 14px; 
    text-align: center;
}
nav.navigation  ul li {
    display: inline-block;
}
nav.navigation  ul li a {
    display: block;
    float: left;
    padding: 3px 6px;
    color: #575c7d;
    font-size:22px;
    text-decoration: none;
    font-weight: bold;
}
nav.navigation  ul li a:hover {
    background: #ccc;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 6px;
    margin: 0;
    text-decoration: none;
}

#left-sidebar ul {
    margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
}
#left-sidebar ul li {
	position: relative;
	left: 50px;
}

#left-sidebar li ul {
	position: relative;
	top: 0;
	display: none;
}

#hide{display: none;}

#left-sidebar ul li a {
	display: block;
	text-decoration: none;
	color: #575c7d;
	background: none;
	padding: 5px;
	border: 1px solid #ccc; 
}

#left-sidebar li:hover ul { display: block; padding-left: 10px}

#left-sidebar ul li a:hover{
	text-decoration:underline;
	font-weight: bold;
	background: #efefef;
	color:#fff; 
	}

body {
	background-color: red;
}
header{
	background-color: ;
}
h1{border-style: ;}
p{border-style: ;}
footer{border-style: 	;}